/*.selected {*/
    /*-fx-background-color: brown;*/
    /*-fx-border-color: aqua;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 2px;*/
/*}*/

.gridCell {
}

.even {
    /*-fx-border-color: blue;*/
    /*-fx-background-color: blue;*/
}

.monday {
}
.tuesday {
}
.wednesday {
}
.thursday {
}
.friday {
}
.saturday {
    -fx-background-color: gainsboro;
}
.sunday {
    -fx-background-color: gainsboro;
}

.dropReady {
    -fx-background-color: beige;
}